body{
	background: black;
}

.frame{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.text{
	color: white;
	width: 100vw;
	text-align: center;
	font-family: helvetica;
	margin-bottom: 20px;
}
