body {
  background-color: #f4efea;
}
.container {
  margin: 6vw;
  display: flex;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-style: normal;
}

.header {
  width: 44vw;
}

.description {
  position: absolute;
  margin-top: 70vh;
}

.pink-container {
  margin-top: 20.3vh;
  margin-right: 0.7rem;
  display: flex;
  flex-direction: column;
}

.pink {
  height: 2.75rem;
  margin-bottom: 3rem;
}

.pink-one {
  height: 2.75rem;
  margin-bottom: 2.8rem;
}

.pink-two {
  height: 2.75rem;
  margin-bottom: 2.8rem;
}

.work {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 34vw;
  margin-top: 20vh;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.3rem;
}

.arrow {
  font-size: 0.9rem;
}

.project-one {
  margin-bottom: 2vh;
}

.project-two {
  margin-bottom: 2vh;
}

.project-three {
  margin-bottom: 2vh;
}

.project-four {
  margin-bottom: 2vh;
}

.sub {
  font-weight: 400;
  font-size: 1.2rem;
}
.desc {
  margin-top: 1vh;
  font-weight: 400;
  font-size: 0.8rem;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #cc1d53;
}

@media only screen and (max-width: 1060px) {

  .container{
    display: block;
    margin: auto;
    width: 50%;
  }

  .header{
    margin-top: 7vh;
    margin-bottom: 10vh;
  }

  .description{
    display:none
  }

  .pink-container{
   display: none;
  }

  .work{
    margin: auto;
    text-align: center;
  }




  }
}
