body{
    background-color: rgb(255, 249, 243);
    padding: 0;
    margin: 0;
}

.grid-container:hover{
    cursor: pointer;
}

.header{
    width: 80%;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 1%;
    margin-right: 10%;
    margin-left: 10%;
}

.text{
    padding: .5%;
    font-family: "Monaco", monospace;
    font-style: normal;
    font-size: 1.5em;
    animation-name: floating;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.sub{
    font-size: .5em;
}

.center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
}

.top-frame{
    position: absolute;
    width: 700px;
    margin-left: 27%;
}

.left-frame{
    position: absolute;
    height: 435px;
    margin-top: 2.2%;
    margin-left: 23%;
}

.right-frame{
    position: absolute;
    height: 440px;
    margin-top: 2%;
    margin-left: 74%;
}

.bottom-frame{
    position: absolute;
    width: 700px;
    margin-top: 1%;
    margin-left: 27%;
    
}

.grid-container{
    display: grid;
    height: 35px;
    width: 700px;
    grid-template-columns: repeat(15, 1fr);  
    margin-right: 10%;
    margin-left: 10%;

}
.unit{
    font-family: "Monaco", monospace;
    font-style: normal;
    font-size: 2em;
    text-align: center;
}

.unit-one{
    font-family: "Monaco", monospace;
    font-style: normal;
    font-size: 2em;
    text-align: center;
    animation-duration: 3s;
    animation-name: fadeIn;
}
.unit-two{
    font-family: "Monaco", monospace;
    font-style: normal;
    font-size: 2em;
    text-align: center;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-name: fadeIn;
}
.unit-three{
    font-family: "Monaco", monospace;
    font-style: normal;
    font-size: 2em;
    text-align: center;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-name: fadeIn;
}


.footer{
    width: 80%;
    text-align: center;
    margin-top: 3%;
    margin-right: 10%;
    margin-left: 10%;
}

.button{
    background-color: #000; 
    font-family: "Monaco", monospace;
    font-style: normal;
    border: none;
    color: white;
}

.text-2{
    padding: .5%;
    font-family: "Monaco", monospace;
    font-style: normal;
    font-size: 1em;
}
.demo{
    font-family: "Monaco", monospace;
    font-style: normal;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 8px); }
    100%   { transform: translate(0, -0px); }   
}